/* common */
html, body {scroll-behavior: smooth;}
.container {margin-left: 360px;}

/* header */
.header {position: fixed; top: 0; left: 0;}
.header-mo {display: none;}
.header-in {display: flex; flex-direction: column; justify-content: space-between; position: fixed; width: 360px; height: 100vh; background-color: #fff; border-right: 1px solid #eee; z-index: 1000;}
.hd_logo {display: flex; align-items: center; justify-content: center; height: 145px;}
.hd_logo a {display: block; margin: auto; width: 190px;}

.depth1-ul {border-top: 1px solid #eee;}
.depth1-li {border-bottom: 1px solid #eee;}
.depth1-li a {display: flex; align-items: center; padding: 0 40px; height: 90px; font-weight: 500; color: #333; background: url('/source/img/icon-arrow_menu.png') no-repeat center right 50px / 10px; transition: .2s;}
.depth1-li.on {background-color: #35AE9D;}
.depth1-li.on a {color: #fff; background-image: url('/source/img/icon-arrow_menu_white.png');}

.hd-snb-ul {display: flex;}
.hd-snb-li {flex: 1; border: 1px solid #eee; border-right: 0;}
.hd-snb-li:first-child {border-left: 0;}
.hd-snb-li a {display: flex; flex-direction: column; align-items: center; justify-content: center; gap: 10px; height: 70px; font-size: 0.875rem; font-weight: 400; color: #999;}
.hd-snb-li img {height: 20px;}
.hd-snb-li .icon-normal, .hd-sns-li .icon-normal {display: block;}
.hd-snb-li .icon-hover, .hd-sns-li .icon-hover {display: none;}

.hd-sns-ul {display: flex;}
.hd-sns-li {flex: 1;}
.hd-sns-li:not(:last-child) {border-right: 1px solid #eee;}
.hd-sns-li a {display: flex; height: 65px; align-items: center; justify-content: center;}
.hd-sns-li.instagram img {height: 24px;}
.hd-sns-li.youtube img {height: 20px;}

.snb-img {position: relative;}
.cart-num {position: absolute; bottom: 0; left: 50%; transform: translateY(50%); padding: 2px 7px; border-radius: 3px; background-color: #FF1F55; font-size: 12px; font-weight: 500; color: #fff;}

.hd-snb-li.on a {color: #35AE9D; font-weight: 500; font-size: 14px;}
.hd-snb-li.on a .icon-normal, .hd-sns-li.on a .icon-normal {display: none;}
.hd-snb-li.on a .icon-hover, .hd-sns-li.on a .icon-hover {display: block;}

/* footer */
.footer {position: relative; padding: 25px 0; background-color: #F9F9F9; font-family: 'Pretendard'; font-size: 0.875rem; font-weight: 200;}
.foot-wr {display: flex; flex-direction: column;}
.foot-info-wr {display: flex; gap: 5px clamp(15px, 3.5vw, 40px); flex-wrap: wrap; padding-bottom: 7px;}
.foot-info {color: #666;}
.foot-info_l {font-weight: 400;}
.foot-copyright {color: #999;}
.foot-r {display: flex; align-items: center; justify-content: space-between;}
.foot-link-wr {display: flex; gap: 30px;}
.foot-link {position: relative; color: #666; font-weight: 300;}
.foot-link.color {color: #35AE9D;}
.foot-link:not(:last-child)::after {content: ''; position: absolute; top: 50%; right: -14.5px; transform: translateY(-50%); width: 1px; height: 15px; background-color: #ccc;}
.btn-top {display: flex; flex-direction: column; justify-content: center; align-items: center; gap: 1px; position: fixed; right: 15px; bottom: 30px; width: 50px; height: 50px; border-radius: 50%; border: 0; background-color: #fff; box-shadow: 0 0 10px 5px rgba(0, 0, 0 ,.05); transition: .2s;}
.btn-top.off {opacity: 0; visibility: hidden; cursor: default;}
.btn-top.ground {position: absolute; top: 0; transform: translateY(-50%);}
.btn-top-img {width: 10px;}
.btn-top-txt {padding-bottom: 5px; font-size: 12px; font-weight: 500; color: #999;}

/* main */
/* .mainsec-tit-wr {padding-bottom: 25px;} */
.mainsec-tit {font-size: 3.625rem; font-weight: 700; color: #0A0A0A;}

/* > mainsec1 */
.mainsec1 {height: 100vh;}
.mainvs-slider {position: relative; height: 100%;}
.mainvs-slide {position: relative;}
.mainvs-slide img {width: 100%; height: 100%; object-fit: cover;}
.mainvs-txt-wr {position: absolute; bottom: 180px; left: 9.285%; padding-right: 3vw; color: #fff;}
.mainvs-tit {font-size: 4.375rem; font-weight: 700; text-shadow: 3px 3px 3px rgba(0, 0, 0, .1); line-height: 1.2;}
.mainvs-txt {line-height: 1.6;}
.mainvs-txt1 {padding-bottom: 5px; font-size: 1.375rem; font-weight: 500;}
.mainvs-txt2 {font-weight: 400;}
.mainvs-ctr-wr {display: flex; align-items: center; gap: 15px; position: absolute; bottom: 120px; left: 9.285%; z-index: 10;}
.mainvs-pg-wr.swiper-pagination {display: flex; gap: 5px; position: static; width: auto; color: #fff; font-weight: 500;}
.mainvs-pg.current {font-size: 1.125rem;}
.mainvs-progress-bar {position: relative; width: 180px; height: 2px; background-color: #fff;}
.mainvs-progress-inner {position: absolute; width: 0; height: 100%; background-color: #35AE9D;}
.mainvs-btn {display: flex; align-items: center; border: 0; background-color: transparent;}
.mainvs-btn img {height: 13px;}

/* > mainsec2 */
.mainsec2 {padding: clamp(40px, 8vw, 140px) 0 clamp(60px, 9.5vw, 180px);}
.mainsec2-box {padding-top: 25px;}
.mainsec2-ul {display: flex; gap: min(1.6vw, 30px);}
.mainsec2-li {display: flex; flex: 0.25; height: 450px; transition: ease .3s;}
.mainsec2-li-btn {flex-shrink: 0; border: 0; background: none;}
.mainsec2-li.on {flex: 1;}
.mainsec2-img-wr {position: relative; width: clamp(100px, 10vw, 190px); height: 100%;}
.mainsec2-face-img {position: relative; filter: grayscale(1); height: 100%; overflow: hidden; border-radius: 5px 5px 150px 5px; transition: .2s;}
.mainsec2-face-img::after {content: ''; position: absolute; width: 100%; height: 100%; bottom: 0; left: 0;}
.mainsec2-face-img img {position: absolute; top: 50%; left: 65%; transform: translate(-50%, -50%); width: 140%; max-width: 140%; height: 100%; object-fit: cover; filter: brightness(1.1);}
.mainsec2-prd-img {position: absolute; right: -5px; bottom: 0px; width: 130px; transition: .2s;}
.mainsec2-prd-img img {filter: drop-shadow(5px 10px 5px rgba(0, 0, 0, .1));}
.mainsec2-info-wr {display: flex; flex-direction: column; justify-content: center; width: 0; opacity: 0; visibility: hidden;}
.main-info-tit {padding-bottom: 15px; font-size: 2.75rem; font-weight: 700; color: #0F0F0F;}
.main-info-txt {margin-bottom: 25px; color: #666; line-height: 1.6;}
.mainsec2-info-tit {opacity: 0; transition: 1s;}
.mainsec2-info-txt {opacity: 0; transition: 1s;}
.main-link {display: flex; align-items: center; justify-content: space-between; padding: 0 15px; width: 150px; height: 46px; background-color: #F9F9F9; border-radius: 5px; color: #999; font-weight: 500; transition: .2s;}
.main-link span:first-child {font-size: 0.875rem;}
.mainsec2-li--1 .mainsec2-info-tit {color: #35AE9D;}
.mainsec2-li--2 .mainsec2-info-tit {color: #F29EB8;}
.mainsec2-li--3 .mainsec2-info-tit {color: #C1A290;}
.mainsec2-li--4 .mainsec2-info-tit {color: #3E3D3D;}

.mainsec2-li.on {transition: ease 0s;}
.mainsec2-li.on .mainsec2-info-wr {width: 100%; margin-left: min(2.9vw, 55px); opacity: 1; visibility: visible; transition: ease .3s;}
.mainsec2-li.on .mainsec2-img-wr {width: clamp(200px, 18vw,340px);}
.mainsec2-li.on .mainsec2-face-img {filter: grayscale(0); border-radius: 5px 5px 200px 5px;}
/* .mainsec2-li.on .mainsec2-face-img img {top: 65%; height: 130%;} */
.mainsec2-li.on .mainsec2-face-img img {top: 55%; left: 50%; width: 100%; height: 110%; filter: brightness(1);}
.mainsec2-li.on .mainsec2-prd-img {width: 172px;}
.mainsec2-li.on .mainsec2-info-txt, .mainsec2-li.on .mainsec2-info-tit {opacity: 1;}
.mainsec2-li.on .mainsec2-face-img::after {background: linear-gradient(to top, rgba(0, 0, 0, .2) 5%, transparent 40%);}

/* > mainsec3 */
.mainsec3 {padding: clamp(30px, 6.5vw, 115px) 0 clamp(40px, 7vw, 130px); background-color: #FBF8F6;}
.mainsec3-top {display: flex; align-items: flex-end; justify-content: space-between; padding-bottom: clamp(20px, 5vw, 50px);}
.mainsec3-cate-ul {display: flex; gap: 0 35px;}
.mainsec3-cate-li.swiper-pagination-bullet {position: relative; width: auto; height: auto; background: none; opacity: 1;}
.mainsec3-cate-li.swiper-pagination-bullet:not(:last-child)::after {content: ''; position: absolute; right: -20px; top: 50%; transform: translateY(-50%); width: 1px; height: 14px; background-color: #bbb ;}
.mainsec3-cate-li.swiper-pagination-bullet button {border: 0; background-color: transparent; font-weight: 500; color: #666; transition: .2s;}
.mainsec3-cate-li.swiper-pagination-bullet-active button {color: #35AE9D;}
.mainsec3-cate-li.swiper-pagination-bullet-active::before {content: ''; position: absolute; left: 0; bottom: -4px; width: 100%; height: 2px; background-color: #35AE9D;}
/* .mainsec3-slider {width: 100%; height: 645px; margin-left: auto; margin-right: auto; display: none;}
.mainsec3-slider.on {display: block;} */
.mainsec3-cate-li.grayscale .prd-cate-bg {filter: grayscale(1);}
.mainsec3-slider {overflow: hidden;}
.mainsec3-slide {display: grid; grid-template-columns: repeat(5, 1fr); grid-gap: clamp(20px, 3.125vw, 60px) clamp(10px, 1.5625vw, 30px);}
.mainsec3-item {height: calc((100% - 30px) / 2); }
.list-item-img {position: relative; padding-bottom: 60%; width: 100%; height: auto; border-radius: 5px; overflow: hidden;}
.list-item-img > img {position: absolute !important; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100% !important; height: 100% !important; object-fit: cover;}
.list-item-color {display: flex; align-items: center; justify-content: center; position: absolute; top: 0; left: 0; width: 75px; height: 35px; font-size: 14px; font-weight: 400; color: #fff; border-radius: 0 0 15px 0;}
.item-color--1 {background-color: #35AE9D;}
.item-color--2 {background-color: #F29EB8;}
.item-color--3 {background-color: #C1A290;}
.item-color--4 {background-color: #3E3D3D;}
.list-item-hover {display: flex !important; align-items: center; justify-content: center; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, .7); opacity: 0; visibility: hidden; transition: .2s;}
.list-item-hover-wr {display: flex; align-items: center; gap: 8px; font-weight: 500; color: #fff;}
.list-item-hover-wr img {margin-bottom: 2px; width: 9px;}
/* .list-item-hover-btn {display: flex; align-items: center; justify-content: center; width: 50px; height: 50px; border-radius: 50%; border: 1px solid #fff; transition: .2s;}
.list-item-hover-btn img {width: 23px;} */
.list-item-wish {position: absolute; right: 8px; bottom: 8px; width: 30px; height: 30px; background: rgba(0, 0, 0, .4) url('/source/img/icon-heart_grayline.png') no-repeat center / 40%; z-index: 10; border-radius: 50%; border: 0;}
.list-item-wish.on {background-color: #FF1F55; background-image: url('/source/img/icon-heart_white.png');}
.list-item-txtwr {padding: 22px 0 18px; margin-bottom: 17px; border-bottom: 1px solid #bbb;}
.list-item-name {padding-bottom: 5px; font-size: 1.25rem; font-weight: 600; color: #333;}
.list-item-txt {font-size: 0.9375rem; font-weight: 400; color: #666; line-height: 1.4; word-break: break-all;}
.list-item-price {font-size: 1.0625rem; font-weight: 400; color: #333;}
.mainsec3-btn-wr {display: flex; gap: 5px;}
.mainsec3-btn {display: flex; align-items: center; justify-content: center; gap: 8px; width: 90px; height: 46px; background-color: #fff; border: 0; border-radius: 5px; box-shadow: 0 0 15px 3px rgba(0, 0, 0, .05); font-weight: 400; color: #999; transition: .2s;}
.mainsec3-btn img {width: 9px;} 
.mainsec3-btn.swiper-button-disabled img, .mainsec3-btn.swiper-button-disabled span {opacity: 0.6;}

/* > mainsec4 */
.mainsec4-box {padding: clamp(20px, 3.5vw, 60px) 0 clamp(20px, 3vw, 40px);}
.mainsec4-ul {display: flex; gap: clamp(10px, 4.5vw, 86px); align-items: center; padding: clamp(20px, 4.5vw, 85px) 0;}
.mainsec4-ul:nth-child(even) {flex-direction: row-reverse;}
.mainsec4-ul:not(:last-child) {border-bottom: 1px solid #DDDDDD;}
.mainsec4-imgwr {position: relative; flex-shrink: 0;}
.mainsec4-face-img {position: relative; width: 700px; height: 15.625vw; border-radius: 5px 5px 200px 5px; overflow: hidden;}
.mainsec4-face-img img {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100%; height: 100%; object-fit: cover;} 
.mainsec4-prd-img {position: absolute; bottom: 0; right: 0;}
.mainsec4-prd-img img {height: 192px;}

/* sub */
.sub_contents {padding-bottom: clamp(40px, 6.25vw, 120px);}
.sub_visual {position: relative; height: clamp(200px, 40vw, 400px);}
.sub_visual.colour1_vs {background: url('/source/img/img-subvs_1colour.png') no-repeat center bottom / cover;}
.sub_visual.colour2_vs {background: url('/source/img/img-subvs_2colour.png') no-repeat center bottom / cover;}
.sub_visual.colour3_vs {background: url('/source/img/img-subvs_3colour.png') no-repeat center bottom / cover;}
.sub_visual.colour4_vs {background: url('/source/img/img-subvs_4colour.png') no-repeat center bottom / cover;}
.sub_visual.clear_vs {background: url('/source/img/img-subvs_clear.png') no-repeat center bottom / cover;}
.sub_visual.mps_vs {background: url('/source/img/img-subvs_mps.png') no-repeat center bottom / cover;}
.sub_visual.community_vs {background: url('/source/img/img-subvs_community.png') no-repeat center bottom / cover;}
.sub-vs-back {position: absolute; left: 3vw; bottom: 30px; display: none;}
.sub_visual.back .sub-vs-back {display: flex;}

/* Product */
/* > Product Category */
.category {height: 100vh; overflow: hidden;}
.prd-cate-wr {height: 100%;}
.prd-cate-ul {display: flex; height: 100%;}
.prd-cate-li {flex: 1; position: relative; overflow: hidden;}
.prd-cate-bg {position: relative; height: 100%;}
.prd-cate-bg img {position: absolute; top: 0; left: 50%; transform: translateX(-50%); width: 100%; height: 100%; object-fit: cover;}
.prd-cate-bg::after {content: '';  position: absolute;  width: 100%;  height: 100%; bottom: 0; left: 0; background: linear-gradient(to top, rgba(0, 0, 0, .4) 10%, transparent 45%);}
/* .prd-cate-hover {opacity: 0; visibility: 0; transition: .2s;} */
/* .prd-cate-circle {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 200vw; height: 200vw; border: 60vw solid; border-radius: 50%; transition: .2s; opacity: 0;} */
.prd-cate-circle {position: absolute; left: 0; top: 100%; width: 100%; height: 100%; background-repeat: no-repeat; background-size: contain; background-position: center bottom; transition: .2s; opacity: 0;}
.prd-cate-item {position: absolute; right: 32px; bottom: -80%; width: clamp(150px, 10vw, 250px); transition: .2s; opacity: 0;}
.prd-cate-info {position: absolute; left: 65px; bottom: 85px;}
.prd-cate-txt {padding-bottom: 20px; font-size: 3.25rem; font-weight: 700; color: #fff; line-height: 1.2;}
.prd-cate-info .main-link {background-color: rgba(255, 255, 255, .3); color: #fff;}
.prd-cate-li:nth-child(1) .prd-cate-circle {background-image: url('/source/img/img-color_hover1.png');}
.prd-cate-li:nth-child(2) .prd-cate-circle {background-image: url('/source/img/img-color_hover2.png');}
.prd-cate-li:nth-child(3) .prd-cate-circle {background-image: url('/source/img/img-color_hover3.png');}
.prd-cate-li:nth-child(4) .prd-cate-circle {background-image: url('/source/img/img-color_hover4.png');}

/* > Product List */
#sct_location, #sct_sortlst {display: none !important;}
.prd-list-tit {font-size: 3.5rem; font-weight: 700;}
.prd-list-tit--1 {color: #35AE9D;}
.prd-list-tit--2 {color: #F29EB8;}
.prd-list-tit--3 {color: #C1A290;}
.prd-list-tit--4 {color: #3E3D3D;}
.prd-list-subtit {padding-top: clamp(5px, 1.5vw, 25px); font-size: 1.125rem; font-weight: 400; color: #666;}
.sct .list-item-name {font-size: 1.375rem;}
.sct .list-item-wish {width: 35px; height: 35px;}
.sct .list-item-price {padding-top: 3px; font-size: 1.125rem; font-weight: 500; color: #0f0f0f;}
.sct .list-item-name {padding-bottom: 10px;}
.sct_10.lists-row {display: grid; grid-template-columns: repeat(4, 1fr); grid-gap: clamp(30px, 3.7vw, 70px) clamp(10px, 2.65vw, 50px); margin: 0 !important; padding: clamp(12px, 2.7vw, 50px) 0 0;}
.lists-row .col-row-4 {width: 100% !important; padding: 0 !important;}

/* > Product Detail */
.sit_ov_tbl_ul {display: flex; flex-direction: column; gap: 20px; padding: 28px 20px; border-top: 1px solid #ddd;}
.sit_ov_tbl_li {display: flex; gap: 63px; align-items: center;}
.sit_ov_tbl_li__l {width: 173px;}
.sit_ov_tbl_li__r {width: calc(100% - 173px - 63px);}
.sit_opt_list {display: flex; justify-content: space-between; gap: 80px; align-items: center; position: relative;}
.sit_opt_list.ori {justify-content: space-between;}
.opt_name {width: 170px;}
#sit_inf, #sit_dex, #sit_siblings {display: none;}
#sit_title {display: flex; align-items: center; gap: 15px;}
.sit_title_cate {display: flex; align-items: center; justify-content: center; padding: 0 10px; height: 32px; font-size: 14px; font-weight: 400; color: #fff; border-radius: 5px;}
.colour1 .sit_title_cate {background-color: #35AE9D;}
.colour2 .sit_title_cate {background-color: #F29EB8;}
.colour3 .sit_title_cate {background-color: #C1A290;}
.colour4 .sit_title_cate {background-color: #3E3D3D;}
.clear .sit_title_cate {background-color: #40A5D4;}
.MPS .sit_title_cate {background-color: #999;}
.sit_ov_tbl_li__l {font-weight: 400; color: #0f0f0f;}
.sit_ov_tbl_li__r {font-weight: 400; color: #333;}
.sit_ov_tbl_li__r strong {font-size: 1.125rem; color: #0f0f0f;}
.sit_ov_tbl_li.through .sit_ov_tbl_li__r {text-decoration: line-through;}
.it_option {max-width: 278px;}
.sit_btn {width: calc((100% - 60px - 27px) / 3); border-radius: 5px; border: 0 !important; font-weight: 500; color: #fff;}
.sit_btn_fitting {background-color: #35AE9D;}
.sit_in_tab_ul {display: flex;}
.sit_in_tab_li {flex: 1; position: relative;}
.sit_in_tab_li::after {content: ''; position: absolute; bottom: 0; left: 0; width: 100%; height: 1px; background-color: #BBBBBB;}
.sit_in_tab_li a {display: flex; align-items: center; justify-content: center; width: 100%; height: 55px; font-weight: 500; color: #999;}
.sit_in_tab_li.active::after {bottom: -4px; transform: translateY(-50%); background-color: #35AE9D; height: 4px;}
.sit_in_tab_li.active a {color: #35AE9D;}
.tab_con_in {padding: 30px 20px 85px;}
.sit_use_star {display: flex; align-items: center; gap: 30px;}
.sit_use_num {font-size: 1.25rem; font-weight: 500; color: #35AE9D;}
.sit_use_top2 {display: flex; align-items: center; justify-content: space-between; margin: 0 0 10px;}
.sit_use_order_ul {display: flex; gap: 30px;}
.sit_use_order_li {position: relative;}
.sit_use_order_li:not(:last-child)::after {content: ''; position: absolute; right: -15px; top: 50%; transform: translateY(-50%); width: 1px; height: 15px; background-color: #ddd;}
.sit_use_order_li a {font-weight: 400; color: #666;} 
.sit_use_order_li.active a {font-weight: 500; color: #35AE9D;}
.sit_use_total {font-weight: 400; color: #000;}
.sit_use_total span {font-size: 1.125rem; font-weight: 700; color: #35AE9D;}
.prd-txt-box:first-child {padding-top: 10px;}
.prd-txt-box:not(:last-child) {padding-bottom: 20px;}
.prd-txt1 {padding-bottom: 5px; font-size: 1.125rem; font-weight: 500; color: #0f0f0f;}
.prd-txt2 {font-weight: 400; color: #666; line-height: 1.6;}
.sit_use_in {display: block; padding: 25px 20px; width: 100%; text-align: left; border: 0; background: url('/source/img/icon-review_down.png') no-repeat center right 20px / 24px;}
.sit_use_li.on .sit_use_in {background-image: url('/source/img/icon-review_up.png');}
.sit_use_info {display: flex; gap: 3px 25px; align-items: center; flex-wrap: wrap;}
.sit_use_info > p {position: relative; color: #666;} 
.sit_use_info > p:not(:last-child)::after {content: ''; position: absolute; right: -15px; width: 1px; height: 15px; background-color: #ddd;}
.sit_use_rate {width: 78px;}
.sit_use_rate img {margin-bottom: 4px;}
.sit_use_tit {padding-bottom: 10px; font-size: 1.25rem; font-weight: 500; color: #0f0f0f; word-break: break-all;}

/* community */
.comu-menu-ul {display: flex; gap: 52px; margin: clamp(15px, 2vw, 30px) 0 clamp(25px, 3.5vw, 50px);}
.comu-menu-li {position: relative;}
.comu-menu-li:not(:last-child)::after {content: ''; position: absolute; top: 50%; right: -25.5px; transform: translateY(-50%); width: 1px; height: 14px; background-color: #bbb;}
.comu-menu-li a {font-size: 1.375rem; font-weight: 500; color: #666;}
.comu-menu-li.active a {color: #35AE9D; border-bottom: 2px solid #35AE9D;}

/* pop */
.aq-pop-wr {position: fixed; width: 100%; height: 100%; top: 0; left: 0; z-index: 1000; display: none;}
.aq-pop-dim {position: fixed; width: 100%; height: 100%; background-color: rgba(0, 0, 0, .7);}
.aq-pop {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); padding: 20px 45px 30px; width: min(94vw, 1100px); height: auto; border-radius: 5px; background-color: #fff;}
.aq-pop-top {padding: 15px 0;}
.aq-pop-close {display: flex; align-items: center; justify-content: center; position: absolute; top: 0; right: 0; width: 65px; height: 60px; border: 0; background: none;}
.aq-pop-close img {width: 20px;}
.aq-pop-tit {font-size: 1.875rem; font-weight: 700; color: #0f0f0f;}
.aq-pop-body {height: min(80vh, 510px); overflow-y: auto; padding: 20px; border: 1px solid #ddd; border-radius: 5px;}
.aq-pop-body::-webkit-scrollbar {width: 6px; height: 6px; scrollbar-width: 6px; scrollbar-height: 6px;}
.aq-pop-body::-webkit-scrollbar-thumb {border-radius: 3px; background: #abadac;}
.aq-pop-body::-webkit-scrollbar-track-piece {background: #e5e5e5;}
.ap-pop-btn-wr {display: flex; align-items: center; justify-content: center; padding-top: 17px;}
.aq-pop-btn {width: min(100%, 500px); padding: 15px; border-radius: 5px; background-color: #333; color: #fff; font-weight: 500; color: #fff; border: 0;}


@media screen and (min-width:1440px){
.prd-cate-li:hover .prd-cate-item {bottom: 13vw; opacity: 1;}
.prd-cate-li:hover .prd-cate-circle {top: 0; opacity: 1;}
}

@media screen and (min-width:1025px){
/* hover */
.depth1-li a:hover {background-position: center right 40px;}
.hd-snb-li a:hover {color: #35AE9D; font-weight: 500; font-size: 14px;}
.hd-snb-li a:hover .icon-normal, .hd-sns-li a:hover .icon-normal {display: none;}
.hd-snb-li a:hover .icon-hover, .hd-sns-li a:hover .icon-hover {display: block;}
.mainsec2-li-btn:hover .mainsec2-face-img {filter: grayscale(0);}
.main-link:hover {background-color: #35AE9D; color: #fff;}
.list-item-img:hover .list-item-hover {opacity: 1; visibility: visible;}
.list-item-hover-btn:hover {background-color: rgba(255, 255, 255, .3);}
.mainsec3-cate-li button:hover {color: #35AE9D;}
.prd-cate-info .main-link:hover {background-color: rgba(255, 255, 255, .3);}
.mainsec2-face-img:hover img {filter: brightness(1);}
/* .prd-cate-li:hover .prd-cate-circle {left: 10%; top: 10.5%; pacity: 1;} */
/* .prd-cate-li:hover .prd-cate-circle {left: 0; top: 30.5vw; } */
.mainsec3-btn:hover {box-shadow: 0 0 10px 5px rgba(0, 0, 0, .08);}
.gall_img:hover .list-item-hover {opacity: 1; visibility: visible;}
}